/*Base*/
* {
	box-sizing: border-box;
}
body {
	background-color: #2e2f2f;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	color: white;
	overflow-y: auto;
	overflow-x: hidden;
}
a {
	color: #91d284;
	text-decoration: none;
	font-family: Open Sans, Verdana;
}
a:hover {
	color: #6cb55d;
	text-decoration: underline;
}
a[href=""], a[href="#"], a:not([href]) {
  color: #b91c14;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Roboto, Arial;
	margin-top: 10px;
}
ol {
  counter-reset: section;
  list-style-type: none;
  padding: 0;
}
ol li:before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}
li {
	padding-bottom: 0.8em;
	font-family: Open Sans, Verdana;
}
ol ol {
	padding-left: 30px;
	padding-top: 0.8em;
}
p {
	font-family: Open Sans, Verdana;
}
div {
	font-family: Open Sans, Verdana;
}

/*Main part*/
.main {
	display: flex;
	flex-direction: row;
	margin-top: max(4em, 50px);
}
article {
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0em 1em 0em 1em;
}
nav {
	background-color: #292c33;
	position: sticky; 
	flex: 0;
	top: max(4em, 50px);
	width: 220px;
	height: calc(100vh - 4em);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0em;
	z-index: 5;
	visibility: hidden;
}
nav a {
	text-decoration: none;
	color: white !important;
}
nav a:hover {
	text-decoration: underline;
	color: lightgray !important;
}
.sidebar {
	background-color: #292c33;
	position: sticky; 
	top: max(4em, 50px);
	width: 220px;
	height: calc(100vh - 4em);
	z-index: 5;
	flex: 0;
	visibility: hidden;
}
@media only screen and (max-width : 350px) {
	body { overflow-x: scroll; }
}
.code-toolbar {
	max-width: calc(100vw - 2em);
	width: 100%;
}
.breadcrumb {
	list-style: none;
	margin: 0;
	padding: 1em 0em 1em 0em;
}
.breadcrumb li {
	display: inline;
	font-size: 18px;
}
.breadcrumb li+li:before {
	padding: 8px;
	color: white;
	content: "/\00a0";
}

/*Header*/
header {
	background-color: #496243;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 4em;
	min-height: 50px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
}
.header-logo {
	font-family: Oswald;
	font-size: 24px;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin-left: 0.2em;
	
	color: white;
	text-decoration: none;
	user-select: none;
}
.header-logo:hover {
	color: white;
	text-decoration: none;
}
.header-menu {
  display: block;
  position: fixed;
  right: 20px;
  
  z-index: 10;
  user-select: none;
}
.header-menu a {
  text-decoration: none;
  color: white;
  margin: 0.4vw 0.4vw 0.4vw 0.4vw;
}
.header-menu a:hover {
  color: lightgray;
}
.header-menu input {
  display: block;
  width: 33px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  opacity: 0;
  z-index: 11;
}
.header-menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.header-menu input:hover ~ span{
	background: lightgray;
}
.header-menu input:checked:hover ~ span{
	background: lightgray;
}
.header-menu span:first-child {
  transform-origin: 0% 0%;
}
.header-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.header-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
.header-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.header-menu-list {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 50px;
  padding-top: 4em;
  padding-bottom: 0px;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  
  background: #292c33;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.header-menu-list li {
  padding: 4px 0;
  font-size: 22px;
}
.header-menu input:checked ~ ul {
  transform: none;
}

/*Footer*/
footer {
	height: 400px;
	background-color: black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-info p{
	margin-top: 0px;
}

@media only screen and (min-width : 720px) {
	nav {
		visibility: visible;
		flex: none;
		padding: 1em;
	}
	footer {
		display: flex;
		height: 200px;
		flex-direction: row;
	}
}
@media only screen and (min-width : 1280px) {
	.sidebar {
		visibility: visible;
		flex: none;
	}
}

/* Extra Small Devices, Phones 
@media only screen and (min-width : 480px) {

}

Small Devices, Tablets
@media only screen and (min-width : 720px) {

}

Medium Devices, Desktops
@media only screen and (min-width : 1024px) {

}
*/